/* your code here */
.product{
	background: lightgreen;
	display: flex;
	width: 100%;
    height:calc(100vh - 16px);
}
.controls{
	display: flex;
    justify-content: space-between;
    color: white;
}
.photo-main{
	background-color: #ddb907;
    padding: 14px;
	border-radius:12px 12px  0px 0px;
}
.photo-main img{
	width: 200px;
    height: 200px;
    position: relative;
    right: 70px;
}
.photo-album ul{
	display: flex;
    list-style: none;
    padding: 0 10px 0 0;
	display:flex;
	justify-content:end;
}
.photo-album ul li img{
	border: 1px solid gray;
    width: 28px;
    height: 28px;
}
.photo-container{
	background: white;
	box-shadow: 0 10px 10px 0 gray;
    width: 170px;
    border-radius: 12px;
}
.product__info{
    background: white;
    width: 300px;
    height: 300px;
    margin: auto;
	justify-content: end;
    display: grid;
	padding: 24px 12px;
	position:relative;
	border-radius:12px;
}
.product__photo{
	position: absolute;
    z-index: 1;
    top: 18%;
    left: 18%;
}
.title h1{
	margin: 10px 0 0 0;
    font-weight: 900;
}
.title span{
	color:lightgray;
	font-size:12px;
}
.price{
	color:red;
}
.price span{
	font-size:24px;
}
.variant h3,.description h3{
	color:gray;
	font-size:14px
}
.variant ul{
	list-style: none;
    padding: 0;
	margin:0;
    display: flex;
}
.variant{
	/* display:flex; */
}
.variant ul li img{
	width:20px;
	height:20px;
	margin-right:4px;
}
.description ul{
	margin:0;
}
.description ul li{
	font-size:12px;
}
button{
	background-color: red;
    font-size: 12px;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    width: 120px;
    border-radius: 8px;
}